<!doctype html>
<html lang="ja">
<link rel="stylesheet" type="text/css" href="title.css">
<script type="text/javascript" src="title.js"></script>
<head>
<title>
    オンラインじゃんけん！
    </title>
</head>
<body onclick="Click()">
    <h1>
        オンラインじゃんけん！
        </h1>
        <div class="button_wrap">
            <button class="Click big-text blue-text">Click Start!!</button>
        </div>
        <div class="button_next">
            <button class="makeroom" id="b1"></button>
            <button class="joinroom" id="b2"></button>
        </div>
</body>
</html>
