div{
margin: auto;
padding: auto;
list-style-type: none;

display: inline;
padding: auto;
margin: auto;
}

#exit button{
display: block;
border-left: 20px solid #474655;
border-top: 1px solid #474655;
border-right: 1px solid #474655;
border-bottom: 1px solid #474655;
background-color: #fff;
padding: 3px 10px;
text-decoration: none;
color: #333;
width: 300px;
margin: 5px auto;
text-align: center;
font-size: 40px;
}
#exit button:hover{
border-left: 8px solid #474655; /*飛び出してる感じ*/
border-top: 1px solid #474655;
border-right: 1px solid #474655;
border-bottom: 1px solid #474655;
background-color: #d7efd7;
}

#exit button:active {
transform: translateY(3px);
background-color: #ffcc00;

}
