h1 {
font-size: 60px;
text-align: center;
}

.text {
color: yellow;
}

body {
background-color: #2bc4ff;
}

.menu {
width:200px;
}

#menu ul{
margin: auto;
padding: auto;
list-style-type: none;
}
#menu li{
display: inline;
padding: auto;
margin: auto;
}
#menu li a{
display: block;
color:#fff;
background-color:#59b1eb;
border-radius:25px;
padding: 3px 10px;
text-decoration: none;
width: 300px;
margin: 5px auto;
margin-top: 60px;
text-align: center;
font-size: 50px;
border: solid 3px #6091d3;
}
#menu li a:hover{
    border-left: 1px solid #474655; /*飛び出してる感じ*/
    border-top: 1px solid #474655;
    border-right: 1px solid #474655;
    border-bottom: 1px solid #474655;
    background-color: white;
    color: #59b1eb;
}

#menu li a:active {
    transform: translateY(3px);
    color:#fff;
    background-color: #59b1eb;
}