body {
background-color: #2bc4ff;
}

h1 {
text-align: center;
}

h2 {
text-align: center;
}

div{
margin: auto;
padding: auto;
list-style-type: none;

display: inline;
padding: auto;
margin: auto;
}

#exit button{
position: relative;
top: 20px;
display: block;
color:#fff;
background-color:#59b1eb;
border-radius:25px;
padding: 3px 10px;
text-decoration: none;
width: 400px;
margin: 5px auto;
margin-top: 50px;
text-align: center;
font-size: 40px;
}
#exit button:hover{
    border-left: 1px solid #474655; /*飛び出してる感じ*/
    border-top: 1px solid #474655;
    border-right: 1px solid #474655;
    border-bottom: 1px solid #474655;
    background-color: white;
    color: #59b1eb;
}

#exit button:active {
    transform: translateY(3px);
    color:#fff;
    background-color: #59b1eb;
}
