body {
    zoom: 1.0;
    background-color:#2bc4ff ;
    /*基本*/
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    top: 40px;
    font-size:20px;
    text-align: center;
    height: 30px;
}
.roomId{
    text-align: center;
    position: absolute;
}
div{
    display: inline;
}
.wait{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 5000px;
    height: 250px;
    margin: 20px;
    font-size:40px;
    color: white;
    font-family: 'Sawarabi Mincho', sans-serif;;
}
.button{
    width:200px;
    border-left: 20px solid #474655;
    border-top: 1px solid #474655;
    border-right: 1px solid #474655;
    border-bottom: 1px solid #474655;
    background-color: #fff;
    font-size :24px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    padding:8px 0 10px;
    color:#333;
}
.button:hover{
    border-left: 8px solid #474655; /*飛び出してる感じ*/
    border-top: 1px solid #474655;
    border-right: 1px solid #474655;
    border-bottom: 1px solid #474655;
    background-color: #d7efd7;
}
.button:active{
    transform: translateY(3px);
    background-color: #ffcc00;
}
.wrap{
    text-align: center;
    display: block;
}