h2 {
    color: red;
    font-family:serif;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    }
body {
    background-color:#2bc4ff ;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.timer {
    color: yellow;
    font-family:serif;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}
img{
    display: inline-block;
    width:32%;
    height:80%;
}
.images{
    text-align: center;
}