body {
    background-color: #2bc4ff;
}

h1 {
    text-align: center;
    color: yellow;
}

h2 {
    text-align: center;
}

div{
    margin: auto;
    padding: auto;
    list-style-type: none;

    display: inline;
    padding: auto;
    margin: auto;
}

#exit button{
    display: block;
    width:200px;
    color:#fff;
    background-color:#59b1eb;
    border-radius:25px;
    font-size :24px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    padding:8px 0 10px;
}
#exit button:hover{
    border-left: 1px solid #474655; /*飛び出してる感じ*/
    border-top: 1px solid #474655;
    border-right: 1px solid #474655;
    border-bottom: 1px solid #474655;
    background-color: white;
    color: #59b1eb;
}

#exit button:active {
    transform: translateY(3px);
    color:#fff;
    background-color: #59b1eb;
}
