<!DOCTYPE html>
<html lang = "ja">
<link rel = "stylesheet" type = "text/css" href = "public/css/admins.css">
<meta content="html,css,javascript"/>
<head>
<title>人数選択</title>
</head>
<body>
<h1>人数選択</h1>

<div id="menu">
<ul>
<li><a id="btn2" onClick="waitJump(2)">2人</a></li>
<li><a id="btn3" onClick="waitJump(3)">3人</a></li>
<li><a id="btn4" onClick="waitJump(4)">4人</a></li>
</ul>
</div>
<script type="text/javascript" src="public/javascript/admins.js"></script>
</body>
</html>