<!DOCTYPE html>
<html lang = "ja">
<link rel = "stylesheet" type = "text/css" href = "public/css/adminsWaitRoom.css">
<script type="text/javascript" src="public/javascript/adminsWaitRoom.js"></script>
<meta content="html,css,javascript"/>
<head>
  <meta charset="UTF-8">
<title>番号生成画面</title>
</head>

<body>
  <h1>あなたの部屋番号は</h1><br>
  <script></script>
  <h1>です。</h1>

<h2>現在</h2>
<script></script>
<h2>人</h2><br>

  <div id="exit">
    <button type="button1" id="exit" value="exit">やっぱりやめる</button>
    <button type="button2" id="next" value="next">このまま始める</button>
  </div>
</body>
</html>
