<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>番号生成画面</title>
  <meta content="html,css,javascript" />
  <link rel="stylesheet" type="text/css" href="/public/css/adminsWaitRoom.css">
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
  <h1>
    <div id="roomMaster">
      <font color="yellow"><%- session.username %></font>
    </div> さんの部屋番号は
  </h1>
  <h1 id="roomId">
    <font color="yellow"><%- session.roomId %></font>
  </h1>

  <h2>現在 <div id="currentNum">0</div> / <div id="playerNum"><%- session.playerNum %></div> 人</h2><br>

  <div id="exit">
    <form method="GET" action="/">
      <button type="submit" id="exit" value="exit">やっぱりやめる</button>
    </form>
    <button id="startButton">今いる人数で始める</button>
    <!-- <button type="button2" id="next" value="next">このまま始める</button> -->
  </div>

  <script type="text/javascript" src="/public/javascript/adminsWaitRoom.js"></script>
</body>

</html>