<!DOCTYPE html>
<html lang="ja">

<head>
    <title>人数選択</title>
    <link rel="stylesheet" type="text/css" href="public/css/admins.css">
    <link rel="stylesheet" type="text/css" href="public/css/bgmButton.css">
    <meta content="html,css,javascript" />
</head>

<body>
    <input type="button" value="♪" onclick="newwindow()" class="bgmButton">
    <h1 class="text">人数選択</h1>

    <div class="menu">
        <button class="button1" id="btn2" onClick="waitJump(2)">2人</button><br><br>
        <button class="button1" id="btn3" onClick="waitJump(3)">3人</button><br><br>
        <button class="button1" id="btn4" onClick="waitJump(4)">4人</button><br><br>
    </div>
    <script type="text/javascript" src="public/javascript/admins.js"></script>
    <script type="text/javascript" src="public/javascript/bgmButton.js"></script>
</body>

</html>