<!DOCTYPE html>
<html lang="ja">
    <head>

    </head>
    <body>
        <audio src="/public/bgm/maoudamashii_menu.mp3" loop controls controlslist="nodownload">
        </audio>
        <input type="button" value="閉じる" onclick="window.close()">
    </body>
</html>