<!DOCTYPE html>
<html>
    <head>
        <title>BGM</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/public/css/bgms.css">
    </head>
    <body>
        <h1 class="play">♪</h1>
        <script type="text/javascript" src="/public/javascript/bgms.js"></script>
    </body>
</html>