<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>待機画面</title>
  <meta content="html,css,javascript" />
  <link rel="stylesheet" type="text/css" href="/public/css/participantsWaitRoom.css">
  <link rel="stylesheet" type="text/css" href="public/css/bgmButton.css" >
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>        
  <input type="button" value="♪" onclick="newwindow()" class="bgmButton">
  <h1><font color="yellow" size="56px"><%- session.username %></font>さん</h1>
  <br>
  <h1>現在<div id="currentNum">0</div>/<div id="playerNum"><%- session.playerNum %></div>人
  </h1>
  <div class="wait">待機しています</div>
  <div class="wrap">
  <form method="GET" action="/">
    <button type="submit" id="startButton" class="button">トップページに戻る</button>
  </form>
  </div>
  <br>
  <h1>
    roomID:<div id="roomId"><font color="yellow"><%- session.roomId %></font></div>
  </h1>
  <script type="text/javascript" src="/public/javascript/participantsWaitRoom.js"></script>
  <script type="text/javascript" src="public/javascript/bgmButton.js"></script>
</body>

</html>