<!DOCTYPE html>
<html lang = "ja">
<link rel = "stylesheet" type = "text/css" href = "public/css/participantsWaitRoom.css">
<script type="text/javascript" src="public/javascript/participantsWaitRoom.js"></script>
<meta content="html,css,javascript"/>
<head>
  <meta charset="UTF-8">
  <title>ҋ@</title>
</head>
<body>
  <h1>ҋ@Ă܂B</h1><br>
</body>
</html>