<!doctype html>
<html lang="ja">
<link rel="stylesheet" type="text/css" href="public/css/participants.css">

<head>
<title>
    オンラインじゃんけん！
</title>
</head>
<body>
    <h1>
    部屋番号を入力してください。<br>
    <input type="text" id="roomId"><br>
    <button type="button" id="send">送信</button><br>
    入室をやめる。</br>
    <button type="button" id="ok">OK</button>

    </h1>
    <script type="text/javascript" src="public/javascript/participants.js"></script>
</body>
</html>
