<!DOCTYPE html>
<html lang = "ja">
<link rel = "stylesheet" type = "text/css" href = "public/css/participantsWaitRoom.css">
<script type="text/javascript" src="public/javascript/participantsWaitRoom.js"></script>
<meta content="html,css,javascript"/>
<head>
  <meta charset="UTF-8">
  <title>待機画面</title>
</head>
<body>
  <h1><%- session.username %></h1>
  <h1><%- session.roomId %></h1>
  <h1>待機しています。</h1><br>
</body>
</html>
