<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>待機画面</title>
  <meta content="html,css,javascript" />
  <link rel="stylesheet" type="text/css" href="/public/css/participantsWaitRoom.css">
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
  <h1><%- session.username %>さん</h1>
  <h1>現在<div id="currentNum">0</div>/<div id="playerNum"><%- session.playerNum %></div>
  </h1>
  <div class="wait">待機しています</div>
  <button id="startButton">スタート</button>
  <h1>
    <div id="roomId" class="roomId"><%- session.roomId %></div>に接続しています。
  </h1>
  <script type="text/javascript" src="/public/javascript/participantsWaitRoom.js"></script>
</body>

</html>