<!doctype html>
<html lang="ja">
<link rel="stylesheet" type="text/css" href="participants.css">
<script type="text/javascript" src="participants.js"></script>
<head>
<title>
    オンラインじゃんけん！
    </title>
</head>
<body>
    <h1>

    </h1>
</body>
</html>
