<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" type="text/css" href="/public/css/participantsWaitRoom.css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<meta content="html,css,javascript" />

<head>
  <meta charset="UTF-8">
  <title>待機画面</title>
</head>

<body>
  <h1><%- session.username %></h1>
  <h1 id="roomId"><%- session.roomId %></h1>
  <h1 id="currentNum">0</h1>
  <h1 id="playerNum"><%- session.playerNum %></h1>
  <h1>待機しています。</h1><br>
  <button id="startButton">スタート</button>
  <script type="text/javascript" src="/public/javascript/participantsWaitRoom.js"></script>
</body>

</html>