<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>じゃんけん結果</title>
  <link rel="stylesheet" type="text/css" href="/public/css/roomResults.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bgmButton.css" >
  <script type="text/javascript" src="/public/javascript/roomResults.js"></script>
  <script type="text/javascript" src="/public/javascript/bgmButton.js"></script>
  <meta content="html,css,javascript" />
</head>

<body>
  <input type="button" value="♪" onclick="newwindow()" class="bgmButton">
  <h1>じゃんけん結果</h1>

  <!-- <%- session.resultData.judge %> -->
  <!-- 勝敗で表示を分岐したい -->
  <% if (session.resultData.judge == 1) { %>
  <div align="center"><img src="/public/image/win.png" width="496" height="330"></div>
  <% } %>
  <% if (session.resultData.judge == -1) { %>
  <div align="center"><img src="/public/image/lose.png" width="496" height="330"></div>
  <% } %>
  <div id="exit">
    <form method="POST" action="/rooms/wait">
      <button type="submit" id="next" value="next">じゃんけんを続ける</button>
    </form>
    <form method="GET" action="/">
      <button type="submit" id="exit" value="exit">トップページ</button>
    </form>
  </div>

</body>

</html>