<!doctype html>
<html lang="ja">

<head>
    <title>
        オンラインじゃんけん！
    </title>
    <link rel="stylesheet" type="text/css" href="/public/css/room.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bgmButton.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body id="body">
    <input type="button" value="♪" onclick="newWindow();sound()" class="bgmButton">
    Username<font Color=red>
        <div id="userName"><%- session.username %></div>
    </font>
    roomID<font Color=red>
        <div id="roomId"><%- session.roomId %></div>
    </font>
    <h2>じゃんけん</h2><br>
    <div class="timer">
        <span id="timer">あと10秒</span>
    </div>
    <div class="images">
        <img id="rock" class="rock" src="/public/image/rock.png" onclick="rock()">
        <img id="paper" class="paper" src="/public/image/paper.png" onclick="paper()">
        <img id="scissors" class="scissors" src="/public/image/scissors.png" onclick="scissors()">
    </div>
    <script type="text/javascript" src="/public/javascript/room.js"></script>
    <script type="text/javascript" src="/public/javascript/bgmButton.js"></script>
</body>

</html>