<!doctype html>
<html lang="ja">

<link rel="stylesheet" type="text/css" href="public/css/room.css">

<head>
<title>
    オンラインじゃんけん！
    </title>
</head>
<body id="body">
   <h2>じゃんけん</h2><br>
   <div class="timer">
       <span id="tiemr">あと10秒</span>
   </div>
       <img id="lock" src="">
       <img id="lock" src="">
       <img id="lock" src="">
<script type="text/javascript" src="public/javascript/room.js"></script>
</body>
</html>
