<!doctype html>
<html lang="ja">

<link rel="stylesheet" type="text/css" href="public/css/title.css">

<head>
<title>
    オンラインじゃんけん！
    </title>
</head>
<body id="body">
    <h1>
        オンラインじゃんけん！
    </h1>
        <div class="button_wrap">
            <button class="Click big-text blue-text">Click Start!!</button>
        </div>
        <div id="layer">
            <font size="6" class="textStart">ぼたんをおしてください ▽</font> 
            <button type="button1" id="makeroom" value="make room!" onClick="makeClick()">部屋をつくる</button>
            <button type="button2" id="joinroom" value="join room!" onClick="joinClick()">部屋にはいる</button>
        </div>
<script type="text/javascript" src="public/javascript/title.js"></script>
</body>
</html>
