<!doctype html>
<html lang="ja">

<head>
    <title>
        オンラインじゃんけん！
    </title>
    <link rel="stylesheet" type="text/css" href="/public/css/title.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bgmButton.css">

</head>

<body id="body">
    <input type="button" value="♪" onclick="newWindow();sound()" class="bgmButton"
        style="position: absolute; top:0px; left:0px;">
    <h1>
        オンラインじゃんけん！
    </h1>
    <div class="button_wrap">
        <button class="Click big-text blue-text">Click Start!!</button>
    </div>
    <div id="layer">
        <font size="6" class="textStart">ぼたんをおしてください ▽</font>
        <button type="button1" id="makeroom" value="make room!" onClick="makeClick()" autofocus>部屋をつくる</button>
        <button type="button2" id="joinroom" value="join room!" onClick="joinClick()">部屋にはいる</button>
    </div>

    <script type="text/javascript" src="/public/javascript/title.js"></script>
    <script type="text/javascript" src="/public/javascript/bgmButton.js"></script>
</body>

</html>