<!doctype html>
<html lang="ja">
<link rel="stylesheet" type="text/css" href="public/css/title.css">
<head>
<title>
    オンラインじゃんけん！
    </title>
</head>
<body id="body">
    <h1>
        オンラインじゃんけん！
    </h1>
        <div class="button_wrap">
            <button class="Click big-text blue-text">Click Start!!</button>
        </div>
        <div id="layer">
            <button type="button1" id="makeroom" value="make room!" onClick="makeClick()">makeroom</button>
            <button type="button2" id="joinroom" value="join room!" onClick="joinClick()">joinroom</button>
        </div>
    <script type="text/javascript" src="public/javascript/title.js"></script>
</body>
</html>
